{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load pwa %}
<head>
    <!-- Required meta tags -->
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>CheatGPT</title>
</head>
<body>
<a class="main-title" href="/">CheatGPT</a>
<div class="kist-container">
  <!-- <div class="bust">
    <img src="/static/img/chatdoge.png">
  </div> -->
  <!-- <p id="intro-message">"I'm GPT4."</p> -->
  <!-- <div style="margin: 20px 0; color: #aaa;" class="remaining-queries"> Ex: Write me a research paper about the dream theory.
  </div> -->
  <form class="create-form" method="post">
    {% csrf_token %}
    <textarea class="text-input" id="prompt" type="text" placeholder="Write question here" name="prompt" value="{{ prompt }}"></textarea>
    <br>
      <button type="button" id="btn-paste" style="background-color:white;color:black;border: 2px solid black" onclick="paste()">Paste</button>
      <button type="submit" id="ask" onclick="disableButton()" >Let's Go</button>
  </form>
      <label class="custom-file-upload">
      <input class="image-button" type="file" accept="image/*" capture="camera">📷 Camera
      </label>
</div>

<script type="text/javascript"> 
  let text = document.getElementById('gen_message').innerHTML;
  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(text);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }

// Get the input field
var input = document.getElementById("prompt");

// Execute a function when the user presses a key on the keyboard
input.addEventListener("keypress", function(event) {
  // If the user presses the "Enter" key on the keyboard
  if (event.key === "Enter") {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("ask").click();
  }
});

function disableButton() {
    // Disable link and change text color
    document.getElementById("ask").style.pointerEvents = "none";
    document.getElementById("ask").style.backgroundColor='Gray'; 
}

// Paste Button Feature
function paste() {
    const pasteButton = document.querySelector('button');
    
    pasteButton.addEventListener('click', async () => {
      try {
        const text = await navigator.clipboard.readText()
        document.querySelector('textarea').value += text;
        console.log('Text pasted.');
      } catch (error) {
        console.log('Failed to read clipboard. Using execCommand instead.');
        document.querySelector('textarea').focus();
        const result = document.execCommand('paste')
        console.log('document.execCommand result: ', result);
      }
    });
}

  
</script> 
</body>
</html>

